body {
  /* background: #0075aa;  fallback for old browsers */

  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #000;
  overflow: auto;
}

.student-profile .card {
  border-radius: 10px;
  height: 270px;
}

.blue {
  background-color: #0075aa;
  height: 90vh;
  width: 100%;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.Footer {
  background-color: rgb(14, 13, 13);
  color: white;
  padding: 20px 20px;
  size: 0.1px;
  height: 232px;
  width: 100%;
}
.FirstPart img {
  padding-top: 20px;
  margin-bottom: -10px;
  width: 300px;
  height: auto;
}

.SecondPart {
  margin-left: 500px;
  margin-top: -130px;
  padding: 30px;
}

.ThirdPart {
  margin-left: 970px;
  margin-top: -130px;
}

#logout {
  background-color: #0075aa;
  color: white;
  height: 40px;
  width: 90px;
  border: none;
  outline: none;
  border-radius: 4px;
    padding: 2px;
}

#logout:hover {
  background-color: transparent;
  color: black;
  font-weight: bolder;
  border: 2px solid black;
}
